.watch {
    width: 300px;
    height: 300px;
    border-radius: 360%;
    border: 3px solid black;

}

.quarter {
    position: relative;
    border-radius: 30%;
    border: 2px solid black;
    background-color: black;
}

.clock-12 {
    position: absolute;
    top: 15px;
    left: 150px;
    width: 10px;
    height: 30px;
}

.clock-18 {
    position: absolute;
    top: 250px;
    left: 150px;
    width: 10px;
    height: 30px;
}

.clock-15 {
    position: absolute;
    top: 150px;
    left: 250px;
    width: 30px;
    height: 10px;
}

.clock-21 {
    position: absolute;
    top: 150px;
    left: 15px;
    width: 30px;
    height: 10px;
}

.small-ball {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 360%;
    border: 3px solid red;
    background-color: red;
    top: 150px;
    left: 150px;
}

.big {
    position: absolute;
    border-radius: 50%;
    background-color: black;
    width: 10px;
    height: 90px;
    top: 65px;
    left: 153px;
    transform-origin: bottom center;
    animation-name: changePosition;
    animation-duration: 60s;
}

.small {
    position: absolute;
    border-radius: 50%;
    background-color: black;
    width: 7px;
    height: 60px;
    top: 92px;
    left: 154px;
    transform-origin: bottom center;
    animation-name: changePosition;
    animation-duration:3600s;
}

@keyframes changePosition {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}